<div class="panel panel-default">
 <div class="panel-heading"><strong>Showing track:
 <%= (@track.name).split.map(&:capitalize).join(' ') %> from: <%= (@album.title).split.map(&:capitalize).join(' ') %> by: 
 <%= (@artist.name).split.map(&:capitalize).join(' ') %></strong></div>
    <div class="panel-body">
<p>
  <strong>Name:</strong>
  <%= (@track.name).split.map(&:capitalize).join(' ') %>
</p>

<p>
  <strong>Length</strong>
  <%= @track.length %> minutes
</p>
  </div>
 </div>
</div>
<%= link_to 'Back', :back %>
<% if user_signed_in? %>
<span class="btn btn-danger btn-xs pull-right">
<%= link_to 'Remove Track', artist_album_track_path(@artist,@track.album_id,@track.id), method: :delete, data: { confirm: 'Are you sure?' }%>
</span>
<% end %>
