<div class="panel panel-default">
 <div class="panel-heading"><strong>Showing artist:<%= (@artist.name).split.map(&:capitalize).join(' ') %></strong></div>
    <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= (@artist.name).split.map(&:capitalize).join(' ') %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @artist.gender %>
</p>
<p>
  <%= render 'albums/index' %>
</p>
<p>
<div class="authform">
<div class="panel-heading"><strong>Add Album</strong></div>
  <%= render 'albums/form' %>
 </div> 
</p>
  </div>
 </div>
</div>
<% if user_signed_in? %>
<span class="pull-right"><%= link_to 'Update artist', edit_artist_path(@artist),:class => "badge" %>
<%= link_to 'Remove Artist', @artist, method: :delete, data: { confirm: 'Are you sure?' },:class => "badge" %></span>
<% end %>
