<%= simple_form_for([@artist,@artist.albums.build]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :genre %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'button right' %>
  </div>
<% end %>
