<div class="panel panel-default">
 <div class="panel-heading"><strong>Showing album: <%= (@album.title).split.map(&:capitalize).join(' ') %> by 
      <%= (@artist.name).split.map(&:capitalize).join(' ') %></strong></div>
    <div class="panel-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= (@album.title).split.map(&:capitalize).join(' ') %> 
  <% if !@album.cover.present? %>
   <span class="image_container pull-right"><%= image_tag("/images/default.jpeg",:border => 0) %></span>
  <% else %>
   <span class="image_container pull-right"><%= image_tag(@album.cover)%></span>
  <% end %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @album.genre %>
</p>
<p>
  <%= render 'tracks/index' %>
</p>
<p>
<% if user_signed_in? %>
 <span class=" pull-right"><%= link_to 'Add Track', new_artist_album_track_path(@artist,@album), :class => "btn btn-default btn-sm"%></span>
<% end %>
</p>
  </div>
 </div>
</div>
<% if user_signed_in? %>
<span class="btn btn-danger btn-xs pull-right">
<%= link_to 'Remove Album', artist_album_path(@album.artist_id,@album.id), method: :delete, data: { confirm: 'Are you sure?' }%>
</span>
<% end %>